* { padding: 0px; margin: 0px;}

.container {
    display:grid;
    grid-template-rows: 1fr 5fr 6fr 1fr;
    grid-template-areas: "header", "nav", "content", "footer";
}

.containerHeader {grid-area: "header"; background: red; }
.containerNav { grid-area: "nav"; background: green; list-style-type: none; }
.containerContent { grid-area: "content"; background: yellow; list-style-type: none; }
.containerFooter { grid-area: "footer"; background: black; }

/*Breakpoints mobile*/
@media screen and (max-width: 768px){
    body { background: gray; }
    .container { grid-template-areas: "header", "nav", "content", "footer" }
}