* { padding: 0px; margin: 0px;}

.container {
    display:grid;
    grid-template-areas: "header" "nav" "content" "footer";
}

.containerHeader {grid-area: "header"; background-image:
    linear-gradient(
      #ff8673, #fcce6a
    ); color: white; font-family: Arial, Helvetica, sans-serif;}
.containerNav { grid-area: "nav"; list-style-type: none; margin: 2%;  }
.containerContent { grid-area: "content"; margin: 25px; font-family: Arial, Helvetica, sans-serif;  }
.containerFooter { grid-area: "footer"; background: #fcce6a;}

/*Breakpoints mobile*/
@media screen and (max-width: 768px){
    body { background: gray; }
    .container { grid-template-areas: "header", "nav", "content", "footer" }
}